p{
    color: rebeccapurple;
}
<<<<<<< HEAD
input{
    width: 100px;
    height: 100px;
    background-color: red;
}
h1{
    direction: initial;
=======
span{
    height: 65656px;
    text-align: center;
>>>>>>> dev1
}